@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');


html {
    font-size: 16px;
    font-family:'Inter';
    font-weight: 400; 
}

.main_inf {
    margin: 1.5rem auto 0;
    width:870px ;
    padding-bottom: 1rem;
    
}

.top_title {
    font-size: 1.25rem;
}

.main_title {
    font-size: 2.5rem;
}

h1 {
    font-size: 2rem;
}

p {
    font-size: 1rem;
}

.bottom {
    font-size: 1.25rem;
}

.centr_obj {
     display: block;
     margin: 0 auto 0;
     text-align: center;
}

.left_obj {
    display: block;
    margin-left: 0;
}

.right_obj { 
    display: flex;
    justify-content: right;
}

.text_centr {
    text-align: center;
}

.bot_N {
    margin-bottom: 12.5rem;
}
.castome_table {
    margin: 4rem auto;
    width:870px ;
}

.castome_table table{
    border-collapse: collapse;
}
.castome_table td{
    border: 5px solid black;
}

.castome_table td {
    padding: 1rem 4rem;
}
.planet_title {
    font-size: 2rem;
}




.bot_el_1 {
    position: relative;
    text-align: center;
    margin: 0 auto;
    width:920px ;
}

.bot_el_1_text {
    font-size: 1.25rem;
    position: absolute;
    top: 0;
    left: 35%;
}

.bot_el_2 {
    position: absolute;
    bottom: 0;
}

.bot_el_2_text a{
    position: absolute;
    top: 55%;
    right: 1.5%;
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
}